
@charset "UTF-8";
* {
	margin: 0px; padding: 0px; border-width: 0px;
}

div {
	border: 1px solid black;
	box-sizing: border-box;
	
}

.c1 {
	float: left;
	background-color: yellow;
	width: 25%;
	height:25vh;
	color: black;
	
}
.c2 {
	float: left;
	background-color: pink;
	width: 75%;
	height:25vh;
	color: black;
}
.c3 {
	float: left;
	background-color: darkblue;
	width: 50%;
	height:50vh;
	top:25%;
	color: black;
}
.c4 {
	float: left;
	background-color: green;
	width: 35%;
	height:50vh;
	color: black;
}
.c5 {
	float: left;
	background-color: black;
	color: white;
	width: 15%;
	height:50vh;
}
.c6 {
	float: left;
	background-color: purple;
	width: 25%;
	height:25vh;
	color: black;
	
}
.c7 {
	float: left;
	background-color: orange;
	width: 25%;
	height:25vh;
	color: black;

}
.c8 {
	float: left;
	background-color: lightblue;
	width: 35%;
	height:25vh;
	color: black;

}
.c9 {
	float: left;
	background-color: Gray;
	width: 15%;
	height:25vh;
	color: black;	
}
