@charset "UTF-8";
table {	
	background-color: #358999;
	table-align: center;
	background-image: url(placa.jpeg);
	/*background-image: url(migif.gif);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-align:center;
	margin: 0 auto;
	}
	
h2 {
	text-decoration: underline;
	text-align: center;
}

form {
	font-weight: bold;
	color: darkred;
}
#titulo {
	height: 10vh;
	text-shadow:2px 2px 4px #FFF, 4px 4px 4px #111,
	6px 6px 4px #222;
	font:cursive;
}

body {
	background-image: url(placa.jpeg);
	/*background-image: url(migif.gif);*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 0 auto;
}