@charset "UTF-8";
body {
	color: #FFF;
}

#tabla {
	background-color: black;
}

* {
    img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] {
    display: none;
}
