@charset "UTF-8";

body {
	/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
	background-size: cover;
	/* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
	background-position: center center;
	/* Para que la imagen de fondo no se repita */
	background-repeat: no-repeat;
	/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
	background-attachment: fixed;
	/* Ubicación de la imagen */
	background-image: url(fon1.jpg);
	color: white;
}

* {
	margin: 0px;
	box-sizing: border-box;
}
#titulo {
	height: 10vh;
	text-shadow:2px 2px 4px #FFF, 4px 4px 4px #111,
	6px 6px 4px #222;
}

#menu {
	float: left;
	width: 15%;
	height: 85vh;
	background-image: url(fon.jpg) ;
	color: white;
}
/*capa*/
#cont {
	height: 85vh;
	margin-left: 15%;
   	width: 85%;
}

#pie {
	clear: both;
	height: 5vh;
	text-shadow:1px 1px 2px #FF2, 2px 2px 2px #112,
	4px 4px 2px #223;
}
/*iframe*/
#contenido {
	width: 100%;
	height: 100%;
	border: 0px;
    img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] {
    display: none;
}
}

#menu a:hover {
	border: 2px solid black;
	border-bottom: 1px solid #111;
	border-right: 1px solid #111;
	background-color: #222;
}
#menu a {
	display: block;
	width: 100%;
	background-color: #000;
	padding: 2px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	border: 1px solid #000;
	border-bottom: 2px solid black;
	border-right:  2px solid black;
}
